$bg-1-color: #fff8dc;
$bg-2-color: #d4d9e6;
$bg-3-color: #dbeed2;
$bg-4-color: #ffebe8;
$bg-5-color: #fafad2;
$bg-6-color: rgba(22, 33, 22, 0.7);
$red-2-color: #a52a2a;
$white-color: white;
$red-1-color: #ff0000;
$color: #add8e6;

$shadow-color: rgba(100, 92, 112, 0.425);

$font-w600: 600;
