@import'variables';
@import'reset';

body {
  background-color: $bg-1-color;
  font-family: 'Courier New', Courier, monospace;
}

.header {
  padding: 20px;
  text-align: center;

  &__image {
    width: 35%;
  }

  &__title {
    font-style: italic;
    font-size: 60px;
    color: $red-2-color;
  }
}


.dino-book {

  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;

  & .panel-blue {
    background-color: $bg-2-color;
  }

  & .t-rex{
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
  }

  & .apatosaurus{
    grid-column: 1 / span 2;
    grid-row: 6 / span 2;
  }

  & .panel-green {
    background-color: $bg-3-color;
  }
  
  & .panel-red {
    background-color: $bg-4-color;
  }
  
  & .panel-yellow {
    background-color: $bg-5-color;
  }
}


.panel {
  width: 100%;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px 2px $shadow-color;
  position: relative;

  &__title {
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: $red-2-color;
    font-weight: $font-w600;
  }
  
  &__image {
    padding: 20px;

    & img {
      width: 80%;
    }
  }
    
  &__data {
    width: 60%;
    background-color: $bg-6-color;
    color: $white-color;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;

    & .period {
      font-weight: $font-w600;
    }
    
    & .height {
      color: $color;
    }
    
    & .weight {
      color: $red-1-color;
    }
  }

  &:hover{
    & .panel__data{
      visibility: unset;

    }
  }
}

@media only screen and (max-width: 500px) {
  .panel__subtitle{
    display: none;
  }
}

@media only screen and (min-width: 1400px) {
  .header,
  .main {
    width: 90%;
    margin: 0 auto;
  }

  .header {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__image {
      height: 75%;
      width: auto;
    }
  
    &__title {
      font-size: 100px;
    }
  }

  .panel {
    width: 100%;
    box-sizing: border-box;
    background-color: $bg-1-color;
  
    &__title {
      font-size: 27px;
    }
  
    &__subtitle {
      display: block;
      text-align: center;
      margin: 0;
      font-size: 12px;
      font-style: italic;
      color: $red-2-color;
      font-weight: $font-w600;
    }

    &__image img {
      width: 100%;
    }
  }

}
