body {
  background-color: #fff8dc;
  font-family: 'Courier New', Courier, monospace; }

.header {
  padding: 20px;
  text-align: center; }

.header__image {
  width: 35%; }

.header__title {
  font-style: italic;
  font-size: 60px;
  color: #a52a2a; }

.dino-book .panel-blue {
  background-color: #d4d9e6; }

.dino-book .panel-green {
  background-color: #dbeed2; }

.dino-book .panel-red {
  background-color: #ffebe8; }

.dino-book .panel-yellow {
  background-color: #fafad2; }

.panel {
  width: 100%;
  padding: 10px 20px; }

.panel__title {
  text-align: center;
  margin: 0;
  font-size: 20px;
  color: #a52a2a;
  font-weight: 600; }

.panel__image {
  padding: 20px; }

.panel__image img {
  width: 80%; }

.panel__data {
  width: 60%;
  background-color: rgba(22, 33, 22, 0.7);
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 20px; }

.panel__data .period {
  font-weight: 600; }

.panel__data .height {
  color: #add8e6; }

.panel__data .weight {
  color: #ff0000; }

@media only screen and (min-width: 1400px) {
  .header,
  .main {
    width: 90%;
    margin: 0 auto; }
  .header {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .header__image {
    height: 75%;
    width: auto; }
  .header__title {
    font-size: 100px; }
  .panel {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff8dc; }
  .panel__title {
    font-size: 27px; }
  .panel__subtitle {
    display: block;
    text-align: center;
    margin: 0;
    font-size: 12px;
    font-style: italic;
    color: #a52a2a;
    font-weight: 600; }
  .panel__image img {
    width: 100%; } }
